# Application
/public/content/plugins/*
!/public/content/plugins/.gitkeep
!/public/content/mu-plugins/*
!/public/content/mu-plugins/editor/
/public/content/upgrade
/public/content/cache/*
/public/dist/*
/public/content/updraft/*
!/public/content/uploads/.gitkeep
/public/content/uploads/*
public/content/updraft/backup_2023-12-11-1011_Rolling_Donut_2b4440752065-uploads.zip
# WordPress
public/wp
public/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Keys
rollingdonut
rollingdonut.pub

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# Node
node_modules
npm-debug.log
yarn-error.log

# VS Code
.vscode/settings.json

# Bud
storage/bud/*
auth.json
auth.json
auth.json
