/*body{ font-family: 'Roboto', sans-serif;}*/

.product_box_container .product_addon_container{padding:15px 15px; box-sizing: border-box; background-color:#EAEDED; border-radius: 5px;}
.extendssubtotalboxes {font-size: 20px; font-weight: bolder;}

.extendons_add_to_cart {

	/*position: absolute;
	margin-top: 10px;*/
	margin-top: 2%;
    display: flex;
    margin-left: 1%;
}
.extendonssingleaddtocart{
	height: auto !important;
}
.product_box_container{
	margin-left: 1%;
	margin-right: 2%;
}
.mm_gift_massage {
	width: 100%;
	height: 55px;
}
/* Gift Box */
/*.gt_box_qty {display: none !important;}*/
.product_addon_box .extenonheadingparent {
	display: flex;
    justify-content: space-between
}
.gt_box_qty .label {display: none !important;}
.gt_box_qty .gt_qty {display: none !important;}
.product_addon_container .product_gift_box{/*padding:20px 20px;*/ margin-bottom: 20px; border-radius: 10px; box-sizing: border-box;}
.product_addon_container.full_opt .product_gift_box{display: none;}
.product_addon_container.full_opt .product_gift_box.active_bx_dtl{display: block;}
.product_gift_box .gift_box_top{display: flex; align-items: center; justify-content: space-between; padding-bottom:15px;}
.extendonsboxfillederrormsg.woocommerce-message{padding: 10px 15px 10px 35px; margin: 8px 0px; border-left-width: 5px;background-color: #008000e3;color: white;}
.extendonsboxfillederrormsg.woocommerce-message.exterrormsg{background-color:#e2401c;color: white;}

.extendonsboxfillederrormsg.woocommerce-message:before{top: 6px; left: 10px; font-size: 16px;}
.extendonsboxfillederrormsg.woocommerce-message p{margin: 0px 6px; font-size: 14px; line-height: 22px;}

.gift_box_top .gt_item_lmt .text{font-size: 15px; line-height: 23px; }
.gift_box_top .gt_item_lmt .text .added_item{font-weight: 400;}
.gift_box_top .reset_gt_box .clear_cta{font-size: 16px; line-height: 24px; color: #995E8E; text-decoration: underline; outline: none; display: inline-flex; align-items: center;}
.gift_box_top .reset_gt_box .clear_cta img{max-width: 100%; width:17px; margin-right:6px;}

.product_gift_box .gt_box_list{display: flex; flex-wrap: wrap; padding:0px 0px; max-height:160px; overflow: auto; list-style: none; margin:0px 0px;}
.gt_box_list .gift_block{width: 140px; height:140px; margin:0px 10px 10px 0px; border:1px dashed #8E8E8E; background-color: #fff; padding:8px; box-sizing: border-box; border-radius: 6px; position: relative;}
.gt_box_list .gift_block.active_gift{border-color: transparent;}
.gt_box_list .gift_block .img_block{width: 100%; height: 100%;}
.gt_box_list .gift_block .img_block img{max-width:100%; height: 100%; margin: auto; border-radius: 6px;}


.gt_box_list .gift_block .dlt_icon{opacity: 0; position: absolute; top:0px; right:0px; cursor: pointer;  display: flex; align-items: center; justify-content: center; transition: .3s ease-in-out; z-index: 2;}
.gt_box_list .gift_block .dlt_icon svg{width:16px; height:16px;}
.gt_box_list .gift_block .dlt_icon svg path{transition: .3s ease-in-out;}
.gt_box_list .gift_block .dlt_icon:hover svg path{fill: red;}
.gt_box_list .gift_block .dlt_icon img{max-width: 100%;}
.gt_box_list .gift_block.active_gift .dlt_icon{opacity: 1;}

.gift_box_container{ border-radius: 10px; padding:10px 20px 20px; margin-bottom: 40px; box-sizing: border-box;}
.gift_box_container .gt_box_tab{padding:10px 0px 20px; margin:0px 0px; display: flex; align-items: center; overflow-x: auto; list-style: none;}
.gt_box_tab .box_tb{width: 100%;}

.gt_box_tab .box_tb_list{font-size: 15px; line-height: 23px; color: #995E8E; position: relative; background-color: transparent; border-radius: 6px; padding:6px 10px; min-width:6em; text-align: center; box-sizing: border-box; margin-right:10px; cursor: pointer; transition: .3s ease-in-out; border:1px solid #995E8E; display: inline-block;}
.gt_box_tab .box_tb_list .gt_qt{font-size: 13px; line-height: 22px; font-weight: 600; position: absolute; top:-9px; right:-9px; color: #995E8E; width: 18px; height:18px; background-color: #fff; border:1px solid #995E8E; display: flex; align-items: center; justify-content: center; border-radius: 50%;}
.gt_box_tab .box_tb_list:hover{color: #fff; background-color: #995E8E; border-color:#995E8E;}
.gt_box_tab .box_tb.active_tab .box_tb_list{color: #fff; background-color: #995E8E; border-color:#995E8E;}

.gt_bottom_row{display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap;}
.gift_box_container .add_box{ border-radius: 5px; width:100%; display: flex; justify-content: space-between; padding:10px 0px 15px;}
.gift_box_container .add_box .add_box_cta{font-size: 15px; line-height: 20px; text-decoration: none; background-color: #fff; padding:8px 6px; width:48%; display: flex; align-items: center; text-align: center; justify-content: center; box-sizing: border-box; border-radius: 6px; color: #995E8E; border:1px solid #995E8E; transition: .3s ease-in-out;}
.gift_box_container .add_box .add_box_cta img{max-width: 100%; width:16px; margin-right: 6px;}
.gift_box_container .add_box .add_box_cta img:last-child{display: none;}
.gift_box_container .add_box .add_box_cta:hover img:last-child{display: block;}
.gift_box_container .add_box .add_box_cta:hover img:first-child{display: none;}
/* .gift_box_container .add_box .add_box_cta:first-child{margin-right:10px;} */
.gift_box_container .add_box .add_box_cta:hover{color:#fff; background-color: #995E8E;}

.gt_bottom_row .gt_box_qty{display: flex; align-items: center; background-color: #fff; padding:10px 10px; box-sizing: border-box; border-radius: 5px;}
.gt_box_qty .label{font-size: 15px; line-height: 20px; font-weight: 400; padding-right:10px; color: #000;}
.gt_box_qty .gt_qty{display: flex; align-items: center; justify-content: flex-end; width:140px; margin-left: auto; border:1px solid #D0D0D0; border-radius: 6px;}
.gt_box_qty .gt_qty .qty_control{width:30%; min-height:35px; background-repeat: no-repeat; background-position: center; background-size:10px; display: block; background-color: #D0D0D0;}
.gt_box_qty .gt_qty .qty_control.minus{background-image: url(../images/minus_1.png); border-radius:4px 0px 0px 4px;}
.gt_box_qty .gt_qty .qty_control.plus{background-image: url(../images/pluse_1.png);border-radius:0px 4px 4px 0px;}
.gt_box_qty .gt_qty .value{width:42%; height:35px; border-left: 1px solid #D0D0D0 ; text-align: center; border-right: 1px solid #D0D0D0; display: flex; align-items: center; justify-content: center; font-size: 14px; line-height: 14px;}

/* Product addon list  */

.product_addon_container.horizontal_box .product_addon_box{padding-top:30px; height:calc(100vh - 200px); overflow: auto;}
.product_addon_container .product_addon_box{height:100vh; overflow: auto; background-color: #fff; border-radius: 5px; padding:2% 2%; box-sizing: border-box;}
.product_addon_box .pd_title{font-size: 22px !important; line-height: 32px; color: #995E8E; font-weight: 500; margin:0px; margin-bottom:30px;}
.product_addon_box .pd_box_list{display: grid; grid-template-columns: repeat(auto-fill,minmax(310px, 1fr)); grid-gap: 30px; flex-wrap: wrap; align-items: center; justify-content: space-between; padding-right:10px; box-sizing: border-box;}
.pd_box_list .pd_add_block{ border: 1px solid #e8eff3; padding:15px 15px; box-sizing: border-box; border-radius: 6px; box-shadow: 0px 0px 10px 0px rgb(0 0 0/15%); transition: .3s ease-in-out;}
.pd_box_list .pd_add_block:hover{box-shadow:0px 0px 15px 0px rgb(0 0 0/25%);;}
.pd_box_list .pd_add_block .pd_add_block_inner{display: flex; align-items: flex-start; justify-content: space-between; flex-wrap: wrap;}
/* .pd_add_block .pod_right_block{order:;} */
.pd_add_block .image_block {width: 140px; height: 140px; text-align: center;}
.pd_add_block .image_block img{max-width:100%; width: auto; height: 100%; margin: auto; border-radius: 6px;}

.pd_add_block .pd_addon_btns{padding-top:10px;}
.pd_add_block .pd_addon_btns center p{margin-bottom: 3px;}
.pd_add_block .pd_addon_btns .add_btn{text-align: center; width:50%; margin: auto;}
.pd_add_block .pd_addon_btns .extbtns{text-align: center; width:50%; margin: initial !important;}
.pd_add_block .pd_addon_btns.pd_addon_active .add_btn{display: none;}
.pd_addon_btns .add_btn .add_cta{font-size: 15px; line-height: 22px; font-weight: 500; color: #995E8E; border:1px solid #995E8E; border-radius: 4px; padding:0px 25px; min-height:37px; box-sizing: border-box; display:flex; align-items: center; justify-content: center; transition: .3s ease-in-out; text-decoration: none; }
.pd_addon_btns .add_btn .add_cta img{margin-right:6px; max-width: 100%; width:16px;}
.pd_add_block .pd_addon_btns .addon_qty{display: none; align-items: center; justify-content: space-between; width:inherit; margin: auto; border:1px solid #995E8E; border-radius: 6px;}
.pd_add_block .pd_addon_btns.pd_addon_active .addon_qty{display: flex;}
.pd_addon_btns .addon_qty .qty_control{width:30%; min-height:35px;background-repeat: no-repeat; background-position: center; background-color: #995E8E; background-size:10px;}
.pd_addon_btns .addon_qty .qty_control.minus{background-image: url(../images/minus_white_1.png); border-radius: 4px 0px 0px 4px;}
.pd_addon_btns .addon_qty .qty_control.plus{background-image: url(../images/plus_white_1.png); border-radius: 0px 4px 4px 0px;}
.pd_addon_btns .addon_qty .value{width:42%; height:35px; border-left: 1px solid #995E8E; border-right: 1px solid #995E8E; display: flex; align-items: center; justify-content: center; font-size: 14px; line-height: 14px;}

.pd_add_block .pd_dtl{padding:8px 15px 0px 0px; box-sizing: border-box; width:calc(100% - 160px);}
.pd_add_block .pd_dtl .stock {margin: 8px 0px 0px;}
.pd_add_block .pd_dtl .pd_title{font-size: 17px; line-height: 22px; margin:0px; color: #000;}
.pd_add_block .pd_dtl .pd_price{font-size: 22px; line-height: 28px; color: #995E8E; font-weight: 500; display: block;  padding:15px 0px;}
.pd_add_block .pd_dtl .show_dtl{font-size: 14px; line-height: 20px; color: #995E8E; text-decoration: underline; display: inline-block; transition: .3s ease-in-out; cursor: pointer; background-color: transparent; padding:10px 0px 0px; box-sizing: border-box; border-radius:3px;}
.pd_add_block .pd_dtl .show_dtl:hover{text-decoration: underline; color:#995E8E;}
.pd_add_block .pd_dtl .txt{margin:0px 0px; font-size: 14px; line-height: 20px; display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical; overflow: hidden;}

/* Addon pop up styling */
.add_on_popup_close{position: absolute; top:20px; right:20px;}
.add_on_popup_close img{max-width: 100%; cursor: pointer; width: 12px;}


.pd_addon_popup{position: fixed; top:0px; left:0px; width: 100%; height: 100%; z-index: 99999; display: none; background-color: rgb(0, 0, 0, .6)}
.pd_addon_popup .pop_container{position: relative; height: 100%;}
.pop_container .pop_inner{max-width:600px; width: 100%; background-color: #fff; border-radius: 10px; height:380px; margin: auto; position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); padding: 30px 30px; box-sizing: border-box;}

.product_addon_box .pop_inner .pd_box_list{display: block;}
.pop_inner .pd_box_list .pd_add_block{width: 100%; border:0px; padding:0px 0px; box-shadow: unset;}
.pop_inner .pd_add_block .pod_right_block{order: 0; width: 35%;}
.pop_inner .pd_add_block .image_block{width: unset; float:left; padding-right:30px;}
.pop_inner .pd_add_block .image_block img{width:100%;}
.pop_inner .pd_dtl{width: auto;}
.pop_inner .pd_add_block .pd_dtl .addon_pd_dtl{font-size: 14px; line-height: 22px; padding-bottom:20px; margin: 0px 0px;}
.pop_inner .pd_add_block .pd_dtl .addon_pd_dtl:last-child{padding-bottom:0px;}

/* Horizontal View */
.horizontal_box .product_gift_box .gift_box_top{padding:0px 0px 20px; transition: .3s ease-in-out; justify-content: flex-start;}
.horizontal_box .gift_box_container{display: flex; justify-content: space-between; margin:0px 0px 20px; padding:0px 0px; background-color: #EAEDED;}
.horizontal_box .gift_box_container .add_box .add_box_cta{min-width: 8em; width: unset; padding:6px 10px; font-size: 14px; background-color: #995E8E; color: #fff;}
.horizontal_box .gift_box_container .add_box .add_box_cta img:first-child{display: none;}
.horizontal_box .gift_box_container .add_box .add_box_cta img:last-child{display: block;}
/* .horizontal_box .gift_box_container.sticky_gt .add_box .add_box_cta{ padding:6px 10px;} */
.horizontal_box .gift_box_container .gt_bx_rt .add_box .add_box_cta{margin: 0px 20px; background-color: transparent;color: #995E8E;}
.horizontal_box .gift_box_container .gt_bx_rt .add_box .add_box_cta:hover{background-color: #995E8E; color:#fff;}
.horizontal_box .gift_box_container .gt_bx_rt .add_box .add_box_cta img:first-child{display: block;}
.horizontal_box .gift_box_container .gt_bx_rt .add_box .add_box_cta img:last-child{display: none;}
.horizontal_box .gift_box_container .gt_bx_rt .add_box .add_box_cta:hover img:first-child{display: none;}
.horizontal_box .gift_box_container .gt_bx_rt .add_box .add_box_cta:hover img:last-child{display: block;}
.horizontal_box .gift_box_container .gt_box_tab{flex-direction: column; align-items: flex-start; overflow-x: hidden; overflow-y: auto; max-height: 172px;}
.horizontal_box .gt_box_tab .box_tb_list{font-weight:500; margin:10px 0px; min-width:unset; display: block; background-color: transparent; color: #000; border:0px ; transition: .3s ease-in-out; display: flex; align-items: center; justify-content: flex-start; box-sizing: border-box; padding-left:25px;}
.horizontal_box .gt_box_tab .box_tb_list img{max-width:100%; margin-right:8px; display: none;}
.horizontal_box .gt_box_tab .box_tb.active_tab .box_tb_list img{display: block;}
.horizontal_box .gt_box_tab .box_tb.active_tab .box_tb_list{background-color: transparent; color: #995E8E; }
.horizontal_box .gt_box_tab .box_tb_list .gt_qt{position: static; padding-left:15px; box-sizing: border-box; width:auto; height:unset; color:#8E8E8E; border: 0px; border-radius: 0px; background-color: transparent; font-weight: 400; text-transform: uppercase;}
/* .horizontal_box .gt_box_tab .box_tb.active_tab .box_tb_list .gt_qt{color: #995E8E; border-color: #995E8E;} */

.horizontal_box .gift_box_container .add_box{width:auto; justify-content: flex-start; padding:0px;}
.horizontal_box.product_addon_container .product_gift_box{order:1; transition: .3s ease-in-out;}
.horizontal_box .gt_bx_lt{width:100%;}
.horizontal_box .gt_bx_rt{display: flex; flex-wrap: wrap; width: calc(100% - 220px); background-color: #fff; margin-top:10px; padding:10px 15px 0px; box-sizing: border-box; border-radius: 0px 6px 6px 6px;}
.horizontal_box .product_gift_box{width: 100%;}
.horizontal_box .gt_bottom_row{width: 100%; justify-content: flex-start;}

.horizontal_box .product_gift_box .gt_box_list{flex-wrap: nowrap; max-height: unset; width: 100%; overflow-x: auto;}
.horizontal_box .gt_box_list .gift_block {width: 100px; min-width:100px; height:100px; transition: .3s ease-in-out;}

.horizontal_box .gt_box_qty{background-color: transparent; padding: 0px 0px; margin-right:0px; display: flex; align-items: center;}

.horizontal_box .gift_box_container.sticky_gt{ position: sticky; top:0px; padding-top:6px; margin-bottom:6px; border-radius: 0px; box-shadow: 0px 0px 8px 0px rgb(0 0 0 /10%);}
.horizontal_box .sticky_gt .product_gift_box .gift_box_top{padding-top:0px;}
.horizontal_box .sticky_gt .gt_box_list .gift_block{width:80px; min-width:80px; padding:4px 4px;}
.horizontal_box .gift_box_container.sticky_gt .gt_box_tab{max-height:130px;}
.horizontal_box.product_addon_container .sticky_gt .product_gift_box{margin-bottom:10px;}

.horizontal_box .gt_box_tab .box_tb{border-bottom: 1px solid #CECECE; border-left: 3px solid transparent; transition: .3s ease-in-out;}
.horizontal_box .gt_box_tab .box_tb.active_tab{background-color: #fff; border-left: 3px solid #995E8E; border-radius: 6px 0px 0px 6px; border-bottom-color:transparent;}
.horizontal_box.product_addon_container .product_gift_box.active_bx_dtl{background-color: #fff;}
.horizontal_box .gift_box_container .gt_bx_lt .add_box .add_box_cta{min-width:10em; margin-right:0px;}
.horizontal_box .gt_box_list .gift_block.active_gift{border-style: solid; background-color: #eaeded;}
.horizontal_box .gt_bx_rt .gt_item_lmt .text{font-size: 15px; padding-top:6px; display: inline-block;}
.horizontal_box .gift_box_container .gt_bx_lt .add_box{margin-top:10px; padding:0px 10px; box-sizing: border-box; justify-content: center;}
.horizontal_box .gt_box_qty .gt_qty .value{height:30px;text-align: center;}
.horizontal_box .gt_box_qty .gt_qty .qty_control{min-height:30px;}
.horizontal_box .gt_box_qty .gt_qty {width:120px}
.horizontal_box .sticky_gt .gt_bx_rt{margin-bottom:10px;}
.horizontal_box .gt_item_lmt{display: inline-block;}
.horizontal_box .reset_gt_box.resp{display: block; float: right; padding-top:5px;}
.horizontal_box .reset_gt_box.resp .clear_cta{font-size: 15px;line-height: 24px;color: #995E8E;text-decoration: underline; outline: none;display: inline-flex; align-items: center;}
.horizontal_box .reset_gt_box.resp .clear_cta img{margin-right:6px;}
.horizontal_box .reset_gt_box.resp:after{content:''; clear: both;}
.horizontal_box .gift_box_container .gt_bx_lt .add_box .add_box_cta.resp{display: none;}

/* Vertical View */
.product_box_container .product_addon_container.vertical_box{display: flex; align-items: flex-start; justify-content: space-between;}
.product_addon_container.vertical_box .gift_box_container{order:1; max-width:380px;margin-bottom:0px;}
.vertical_box .product_gift_box .gt_box_list{max-height: 500px;}
.product_addon_container.vertical_box .product_addon_box{width:calc(100% - 380px); height:100vh;}
.vertical_box .gt_box_list .gift_block:nth-child(even){margin-right:0px;}
.vertical_box .gt_bottom_row .gt_box_qty{margin-top:10px; width:100%;}
.vertical_box .gt_box_tab .box_tb{min-width:6.5em; width: auto;}



/* Simple Layout */
.product_addon_box.simple_pd .pd_box_list{grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); grid-gap: 20px; align-items: flex-start;}
.simple_pd .pd_box_list .pd_add_block{ padding:10px 10px 15px;}
.simple_pd .pd_add_block .pod_right_block{order:0; width:100%;}
.simple_pd .pd_add_block .image_block{width: 100%; height: 150px;}
.simple_pd .pd_add_block .image_block img{width:auto; height: 100%;}

.simple_pd .pd_add_block .pd_dtl{width: 100%; padding:5px 0px 0px;}
.simple_pd .pd_add_block .pd_dtl .pd_title{text-align: center; font-size: 16px; line-height: 20px;}
.simple_pd .pd_add_block .pd_dtl .pd_price{text-align: center; color: #995E8E; padding:15px 0px; font-size: 18px; line-height: 20px; font-weight: 600;}
.simple_pd .pd_add_block .pd_addon_btns{padding-top:0px;}

.simple_pd .pd_addon_btns .add_btn .add_cta{min-height:30px;}
.simple_pd .pd_addon_btns .addon_qty .qty_control{min-height:30px;}
.simple_pd .pd_addon_btns .addon_qty .value{height:30px;}


.gt_box_list .gift_block:hover .gt_overlay{transform: scaleX(1);}
.gt_overlay{position: absolute; top:0px; left:0px; width: 100%; height:100%; background-color:rgb(247 247 247 / 90%); transform: scaleX(0); transition: .3s ease-in-out; z-index: 1;}

.gt_overlay .overlay_inner{height:100%; display: flex; align-items: center; justify-content: center;}
.gt_overlay .overlay_inner .price{font-size: 20px; line-height: 28px; color: #995E8E; font-weight: 500;}


/* ************************************************************ */
/* Responsive */

@media screen and (min-width:200px) and (max-width:767px){
    .product_addon_container .product_gift_box{margin-bottom: 0px; padding:0px 0px;}
    .product_gift_box .gift_box_top{padding-bottom:10px;}
    .gt_box_list .gift_block{width:70px; height:70px; padding:4px 4px;}
    .product_addon_container.horizontal_box .product_addon_box{padding-top:10px;}
    .product_addon_box .pd_box_list{grid-template-columns: repeat(auto-fill, minmax(190px, 1fr)); align-items: flex-start; grid-gap: 20px; padding-right:0px}
    .pd_add_block .image_block{width:100px; height: 100px; margin: auto;}
    .pd_add_block .pd_dtl .stock{text-align: center;}
    .pd_add_block .pd_dtl{width:calc(100% - 120px); padding-right:0px; width: 100%;}
    .pd_add_block .pd_dtl .pd_title{font-size: 15px; line-height: 20px; padding-top:6px; text-align: center;}
    .pd_add_block .pd_dtl .pd_price{font-size: 15px; line-height: 20px; padding:5px 0px; text-align: center;}
    .gt_bottom_row .gt_box_qty{margin-top:15px;}
    .gt_box_tab .box_tb_list{font-size: 14px; line-height: 20px; padding:4px 10px;}
    .product_addon_box .pd_title{font-size: 18px; line-height: 22px; margin-bottom:15px;}
    .product_addon_container .product_addon_box{padding:12px 12px;}
    .gift_box_container{margin-bottom:20px;}
    .gt_box_qty .label{font-size: 14px; line-height: 24px;}
    .gt_box_qty .gt_qty .value{height:30px;}
    .gt_box_qty .gt_qty .qty_control {min-height:30px;}
    .pd_add_block .pd_addon_btns .add_btn{width:100px;}
    .pd_add_block .pd_addon_btns .addon_qty{width:100px;}
    .pd_add_block .pd_addon_btns .extbtns{text-align: center; width:140px; margin: auto !important;}
    .pd_addon_btns .add_btn .add_cta{min-height:30px; font-size: 14px;}
    .pd_addon_btns .addon_qty .qty_control{min-height:30px;}
    .pd_addon_btns .addon_qty .value{height:30px;}
    .gt_box_tab .box_tb {width: auto;}
    .gift_box_container .gt_box_tab{padding-bottom:10px;}
    .gift_box_container .gt_box_tab {color: black !important;}
    .pd_box_list .pd_add_block .pd_add_block_inner .pod_right_block{width: 100%;}
    .pd_add_block .pd_dtl .txt{display: none;}
    .pd_add_block .pd_dtl .show_dtl{display: block; text-align: center; padding-top:0px;}
    .pop_inner .pd_add_block .image_block{padding-right:20px;}
    /* popup */
    .add_on_popup_close{top:15px; right:15px;}
    .pop_container .pop_inner{width:90%; height:80%; overflow: auto;}
    .pop_inner .pd_add_block .pod_right_block{width: 100%;}
    .pop_inner .pd_dtl{width: 100%;}
    .product_gift_box .gt_box_list{max-height:150px;}
    .gift_box_top .reset_gt_box .clear_cta{font-size: 15px;}
    .gt_overlay .overlay_inner .price{font-size: 14px; line-height: 22px;}

    /* Verticall layout*/
    .product_box_container .product_addon_container.vertical_box{flex-wrap: wrap;}
    .product_addon_container.vertical_box .gift_box_container{max-width:100%; order: 0; padding:0px 0px; position: sticky; top:0px; background-color: #EAEDED; border-radius: 0px;margin-bottom:20px;}
    .vertical_box .product_gift_box .gt_box_list{max-height:unset; flex-wrap: nowrap; overflow-y: hidden; overflow-x: auto;}
    .product_addon_container.vertical_box .product_addon_box{width:100%;}
    .vertical_box .gt_box_list .gift_block:nth-child(even){margin-right:10px;}
    .vertical_box .gt_box_list .gift_block{min-width:70px;}
    .vertical_box .gt_bottom_row .gt_box_qty{margin-top:0px; background-color: transparent; padding: 0px 0px;}
    .gift_box_container .add_box{padding:10px 0px;}
    .vertical_box .gift_box_container .add_box .add_box_cta{padding:0px 0px; text-decoration: none; background-color: transparent; border:0px; justify-content: center; min-height: 30px;}
    .vertical_box .gift_box_container .add_box .add_box_cta:last-child{justify-content: center; text-decoration: none;}
    .horizontal_box .gift_box_container .gt_bx_lt .add_box .add_box_cta.resp{display: flex;}
    .gt_bottom_row{padding-bottom:10px; width: 60%}
    .extendonsremovenewboxes { display:inherit !important; }

    /* Horizontal */
    .horizontal_box .gift_box_container{flex-wrap: wrap;}
    .horizontal_box .gt_bx_lt{width:100%;}
    .horizontal_box .gt_bx_rt{width:100%; border-radius: 6px;}
    .horizontal_box .gift_box_container .gt_box_tab{flex-direction: row; max-height: unset; overflow-y: hidden; overflow-x: auto; margin-left: 2%}
    .horizontal_box .gt_box_tab .box_tb_list .gt_qt span{display: none;}
    .horizontal_box .gt_box_tab .box_tb_list .gt_qt .extendonsfilledboxcount{display: block;}
    .horizontal_box .gt_box_list .gift_block{width:70px; min-width:70px; height:70px; margin-bottom:6px;}
    .horizontal_box .gt_box_tab .box_tb{border:0px; min-width:6.5em;}
    .horizontal_box .gt_box_tab .box_tb.active_tab{border:0px; background-color: transparent;}
    .horizontal_box .gt_box_tab .box_tb_list{color: #995E8E; border:1px solid #995E8E; min-width: 6em; margin:0px 0px; margin-right:10px;}
    .horizontal_box .gt_box_tab .box_tb_list .gt_qt{position: absolute; background-color: #fff; border:1px solid #995E8E; border-radius: 50%; width:18px; height:18px; padding:0px;}
    .horizontal_box .gift_box_container .gt_bx_lt .add_box{margin-top:0px; justify-content: space-between; padding:4px 0px 0px;}
    .horizontal_box .product_gift_box .gift_box_top{padding-bottom: 10px; justify-content: center;}
    .horizontal_box .gt_box_qty{flex-wrap: wrap;}
    .horizontal_box .gift_box_container .gt_bx_rt .add_box .add_box_cta{margin:0px 10px; display: none;}
    .horizontal_box .gt_item_lmt{display: inline-block;}
    .horizontal_box .reset_gt_box{display: none;}
    .horizontal_box .reset_gt_box.resp{display: block; float: right; padding-bottom:5px;}
    .horizontal_box .reset_gt_box.resp .clear_cta{font-size: 14px;line-height: 24px;color: #995E8E;text-decoration: underline; outline: none;display: inline-flex; align-items: center;}
    .horizontal_box .reset_gt_box.resp .clear_cta img{margin-right:6px;}
    .horizontal_box .reset_gt_box.resp:after{content:''; clear: both;}
    .horizontal_box .gift_box_container .gt_bx_lt .add_box .add_box_cta{ margin-left:2% }
    .horizontal_box .gift_box_container .gt_bx_lt .add_box .add_box_cta.resp{justify-content: flex-end;}
    .horizontal_box .gift_box_container .gt_bx_lt .add_box .add_box_cta img:first-child{display: block;}
    .horizontal_box .gift_box_container .gt_bx_lt .add_box .add_box_cta img:last-child{display: none;}
/*    .horizontal_box .gt_box_tab .box_tb.active_tab .box_tb_list{background-color: #995E8E; color: #fff;}*/
    .horizontal_box .sticky_gt .gt_box_list .gift_block{width: 70px; min-width: 70px;}
    .horizontal_box.product_addon_container .sticky_gt .product_gift_box{margin-bottom:0px;}
    .horizontal_box .gt_bx_rt .gt_item_lmt .text{font-size: 14px;}
    .horizontal_box .gt_box_qty .gt_qty .value{height:25px;}
    .horizontal_box .gt_box_qty .gt_qty .qty_control{min-height:25px;}


    /* Simple */
    .product_addon_box.simple_pd .pd_box_list{grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));}
    .simple_pd .pd_add_block .pd_dtl .pd_price{font-size: 16px; line-height: 22px; padding:10px 0px;}

    .pd_addon_popup .pd_add_block .pd_dtl .pd_title{text-align: left;}
    .pd_addon_popup .pd_add_block .pd_dtl .pd_price{text-align: left;}

    .product_addon_box .extenonheadingparent {
    	display: inherit;
    	justify-content: space-between
    }
}
@media screen and (min-width:500px) and (max-width:767px){
    .pop_container .pop_inner{height:70%;}
    .pop_inner .pd_add_block .pod_right_block{width: 35%;}
    /* .pop_inner .pd_dtl{width: 60%;} */
    .gt_bottom_row .gt_box_qty{margin-top:0px;}
}


@media screen and (min-width:768px) and (max-width:1023px){
    .product_addon_box .pd_box_list{grid-gap: 15px;}
    .pop_container .pop_inner{width:90%; height:70%; overflow: auto;}

    .gift_box_container .add_box .add_box_cta:first-child{margin-right:6px;}
    .gift_box_container .add_box .add_box_cta{padding:8px 5px;}
    .pd_add_block .pd_addon_btns .add_btn{width:100px;}
    .pd_add_block .pd_addon_btns .addon_qty{width: 100px;}
    .pd_add_block .pd_dtl .pd_price{font-size: 20px; padding: 10px 0px;}
    .pd_addon_btns .add_btn .add_cta{min-height: 30px;}
    .pd_addon_btns .addon_qty .qty_control{min-height:30px;}
    .pd_addon_btns .addon_qty .value{height:30px;}
    .product_addon_container .product_addon_box{padding:20px 20px;}
    .product_addon_box .pd_title{font-size: 20px; line-height: 28px; margin-bottom: 20px;}
    .pd_add_block .pd_dtl .pd_title{font-size: 16px;line-height: 22px;}
    /* Vertical */
    .product_addon_container.vertical_box .gift_box_container{max-width: 290px; padding:0px 10px 0px;}
    .vertical_box .product_addon_box .pd_box_list{grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));}
    .product_addon_container.vertical_box .product_addon_box{width:calc(100% - 300px);}
    .vertical_box .gt_box_list .gift_block{width:120px; height:120px;}
    .vertical_box .pd_add_block .image_block{width:100px;}
    .vertical_box .pd_add_block .pd_dtl{width:calc(100% - 120px);}
    .vertical_box .product_gift_box .gt_box_list{max-height:420px;}
    /*  */
    .horizontal_box .gt_bx_lt{width:170px}
    .horizontal_box .gt_bx_rt{width:calc(100% - 170px)}
    .gt_box_qty .label{font-size: 14px;}
    .gift_box_top .reset_gt_box .clear_cta{font-size: 14px;}
    .horizontal_box .gt_box_tab .box_tb_list{padding-top:0px; padding-bottom:0px;}
    .horizontal_box .gift_box_container .gt_box_tab{max-height:140px;}

    /* Simple */
    .vertical_box .product_addon_box.simple_pd .pd_box_list{grid-template-columns: repeat(auto-fill, minmax(170px, 1fr))}
    .vertical_box .simple_pd .pd_add_block .pd_dtl{width:100%;}
    .vertical_box .simple_pd .pd_add_block .image_block{width:100%;}
    .simple_pd .pd_add_block .pd_dtl .pd_price{font-size: 18px; line-height: 22px; padding:10px 0px;}
    .pop_inner .pd_add_block .pd_dtl{width: 100%;}
}

@media screen and (min-width:1024px) and (max-width:1280px){
    .product_addon_container.vertical_box .product_addon_box{width:calc(100% - 320px);}
    .product_addon_container .product_addon_box{padding:20px 20px;}
    .gift_box_container{padding:0px 10px;}
    .product_addon_box .pd_box_list{grid-gap:20px;}
    /* Vertical */
    .product_addon_container.vertical_box .gift_box_container{max-width:300px;}
    .pd_add_block .image_block{width:100px; height: 100px;}
    .pd_add_block .pd_addon_btns .add_btn{width:100px;}
    .gt_box_list .gift_block{width:120px; height:120px;}
    .pd_add_block .pd_addon_btns .addon_qty{width:100px;}
    .vertical_box .product_gift_box .gt_box_list{max-height:420px;}
    .pd_add_block .pd_dtl{width:calc(100% - 120px); padding-top:0px;}
    .vertical_box .pd_add_block .pd_dtl .pd_price{font-size: 20px; line-height: 28px; padding:10px 0px;}
    .pd_add_block .pd_dtl .show_dtl{padding-top:8px;}


    /* Simple */
    .product_addon_box.simple_pd .pd_box_list{grid-template-columns: repeat(auto-fill, minmax(185px, 1fr))}
    .simple_pd .pd_add_block .pd_dtl .pd_title{font-size: 15px; line-height: 21px;}
    .simple_pd .pd_add_block .pd_dtl .pd_price{font-size: 16px; line-height: 20px; padding:10px 0px;}
    .pd_addon_popup .pd_add_block .pd_dtl{width:100%;}

}



.extsubtotaladdtocart {display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #999696; padding-bottom: 8px; margin-bottom: 8px;}

.extendons_add_to_cart .quantity .qty{width:45px; padding:4px 4px; box-sizing:border-box; height:45px;}
.extendons_add_to_cart .single_add_to_cart_button{height:45px; outline:none; font-size:12px; line-height:24px;}


    .horizontal_box .gift_box_container.sticky_gt {
        position: relative;
    }

    .item_count_display {
        color: #555;
        font-weight: bold;
        padding: 5px 10px;
        display: inline-block;
        background-color: #f1f1f1;
        border-radius: 4px;
        margin-top: 10px;
    }

    #headerimg h1 a {
        display: none !important;
    }

    #headerimg .description {
        display: none !important;
    }

    form.cartt {
        margin-bottom: 0px;
        padding: 0px;
        margin: auto;
        width: 100%;
    }

    .product_box_container {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .horizontal_box .gift_box_container {
        background-color: #ffffff !important;
    }

    .horizontal_box.product_addon_container .product_gift_box.active_bx_dtl {
        background-color: #000 !important;
    }

    .product_addon_container {
        background-color: transparent !important;
    }

    .horizontal_box .gift_box_container {
        background-color: transparent !important;
    }

    .product_addon_container .product_addon_box {
        background-color: transparent !important;
        padding: unset !important;
    }

    .simple_pd .pd_box_list .pd_add_block {
        padding: 0px;
    }

    .pd_box_list .pd_add_block {
        border: none;
        padding: 0px;
        box-sizing: border-box;
        border-radius: 6px;
        box-shadow: none;
        transition: .3s ease-in-out;
        border: none;
        background: transparent;
    }

    .product_box_container .product_addon_container {
        padding: 0px !important;
        box-sizing: border-box;
        background-color: #eaeded00 !important;
        border-radius: unset;
        display: flex !important;
        flex-direction: row-reverse !important;
        justify-content: space-between !important;
    }

    .horizontal_box .gt_box_list .gift_block.active_gift {
        border-style: solid;
        background-color: black !important;
    }

    .horizontal_box .gt_bx_rt {
        background: black;
        padding: 0px !important;
    }

    .simple_pd .pd_add_block .pd_dtl .pd_title {
        text-align: center;
        color: #000 !important;
        line-height: 1;
    }

    .horizontal_box .product_gift_box .gt_box_list {
        flex-wrap: wrap !important;
    }

    .horizontal_box.product_addon_container .product_gift_box.active_bx_dtl {
        background-color: #000 !important;
    }

    .horizontal_box .gt_bx_rt {
        margin-top: 0px;
        padding: 1rem;
        border-radius: 0px 6px 6px 6px;
        border-radius: 16.076px;
        border: unset;
    }

    .gt_box_list .gift_block .dlt_icon svg {
        width: 20px !important;
        height: 20px !important;
    }

    .gt_box_list .gift_block .dlt_icon svg g {
        stroke: black !important;
        fill: #f55959 !important;
    }

    .horizontal_box .gt_box_list .gift_block {
        width: 22.5%;
        min-width: 20%;
        height: auto;
    }

    .gift_box_top .reset_gt_box .clear_cta {
        color: white !important;
        font-size: 20px;
        font-style: normal;
        font-weight: 420;
        text-decoration: none !important;
    }

    .horizontal_box .product_gift_box .gift_box_top {
        padding: .5rem !important;
        transition: .3s ease-in-out;
        justify-content: space-between!important;
        background: #C70000;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .horizontal_box .gt_bx_rt .gt_item_lmt .text {
    font-size: 16px;
    padding-top: 0px!important;
    display: inline-block;
}

    .horizontal_box .gt_bx_rt .gt_item_lmt .text {
        color: white!important;
    }

    .gt_overlay {
        display: none;
    }

    .woocommerce-Price-amount .amount {
        color: #000 !important;
    }

    .woocommerce-Price-currencySymbol {
        color: #000 !important;
    }

    .pd_box_list .pd_add_block:hover {
        box-shadow: none !important;
    }

    .product_addon_box .pd_title {
        color: #000000 !important;
    }

    .extendssubtotalboxes,
    .gift_box_top .gt_item_lmt .text {
        color: #000000;
    }

    .extendssubtotalboxes {
        font-size: 24px !important;
    }

    .woocommerce-Price-amount.amount bdi {
        font-weight: 400;
    }

    .horizontal_box .gift_box_container.sticky_gt {
        padding-top: 0px !important;
        margin-bottom: 0px !important;
        border-radius: 0px !important;
        box-shadow: none !important;
    }

    .horizontal_box .gift_box_container {
        display: flex;
        justify-content: space-between;
        margin: 0px 0px 0px;
        padding: 0px 0px;
        width: 100%;
        max-width: 480px;
    }

    .gift_box_container.sticky_gt {
        width: 100%;
        max-width: 480px;
    }

    .woocommerce-Price-amount.amount {
        color: #000000 !important;

    }

    .form.cartt {
        padding: 0px;
    }

    .extendons_add_to_cart {
        margin-top: 2%;
        display: flex;
        margin-left: 2%;
        margin-right: 2%;
        justify-content: flex-end;
    }

    .add_cta svg path {
        stroke: black !important;
        fill: black !important;
    }

    .qodef-woo-product-title.product_title.entry-title {
        display: none !important;
    }

    .extendssubtotalboxes,
    .gift_box_top .gt_item_lmt .text {
        color: #000000 !important;
    }

    .pd_box_list .pd_add_block {
        border: none !important;
        padding: unset;
        box-sizing: border-box;
        border-radius: 6px;
        box-shadow: unset !important;
        transition: .3s ease-in-out;
    }

    .extsubtotaladdtocart {
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000 !important;
        padding-bottom: 1rem !important;
        margin-bottom: 0rem !important;
        padding-top: 1rem;
        justify-content: center !important;
    }
