@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@splidejs/splide/dist/css/splide.min.css';

html {
  max-width: 1729px;
  margin: auto;
}

body {
  font-family: edmondsans, sans-serif;
}

@media (width >= 1300px) {
  .space-top {
    margin-top: 12.9rem;
  }

  .post-menu {
    position: relative;
    left: -1rem;
  }
}

.leading-none {
  line-height: 1;
}

.border-1 {
  border: 1px solid #000;
}

.w-99 {
  width: 99%;
}

.mt-64 {
  margin-top: 64rem;
}

[x-cloak] {
  display: none;
}

.r-7 {
  right: 1.75rem;
}

.t-0-3 {
  top: 0.3rem;
}

.-t-0-1 {
  top: -.1rem;
}

.-t-0-3 {
  top: -.3rem;
}

/* TYPOGRAPHY */
b {
  @apply font-bold;
}

h1 {
  @apply text-xxxl-font;
}

h2 {
  @apply text-xxl-font;
}

h3 {
  @apply text-xl-font;
}

h4 {
  @apply text-lg-font;

  line-height: 68px;
}

h5 {
  @apply text-md-font;
}

h6 {
  @apply text-sm-font;
}

p {
  @apply text-reg-font font-regular;
}

input {
  @apply bg-white text-black-primary font-laca text-mob-xs-font font-light;
}

.margin-top-18 {
  margin-top: 18rem;
}

.z-1000 {
  z-index: 1000;
}

/* Spacing */
.btn-width {
  max-width: inherit;
}

/* Buttons */
.btn {
  @apply inline-flex justify-center items-center whitespace-nowrap transition ease-in-out duration-150 hover:cursor-pointer hover:no-underline;
}

.btn-menu {
  @apply btn w-full max-w-max-242 text-white bg-black-full border-radius-large btn-p-lg font-reg420 text-sm-md-font hover:bg-yellow-primary right-0 hover:text-black-full hover:no-underline;
}

.btn-top::before {
  content: url('/images/icons/top-donut.png');
  display: inline-block;
  width: 32px;
  height: 32px;
  position: relative;
  right: 0.4rem;
}

.hoverno-underline {
  text-decoration: none!important;
}

.btn-p-lg {
  padding: 16px 56px;
}

.rd-border {
  border: 3px solid black;
}

.border-1-fix {
  border: 1px solid #000;
}

.border-radius-large {
  border-radius: 8.25rem;
}

.btn .donut-icon {
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  background-image: url('../images/icons/top-donut.png');
}

.btn:hover .donut-icon {
  background-image: url('../images/icons/btn2.png'); /* Set the path to your second icon image */
}

.place-nav-icon {
  left: -0.5rem;
  top: 0.2rem;
}

.nav-line {
  width: 1px;
  height: 48px;
  background-color: black;
  margin-top: -5px;
  right: 0.4rem;
  position: relative;
}

.logo {
  width: 152px;
  height: 141px;
  object-fit: contain;
}

.mobile-logo {
  width: 86px;
  height: 80px;
  display: none;
}

nav .active {
  text-decoration: underline;
}

nav .submenu .current_page_item {
  background-color: #000;
  color: white;
}

.highlighted {
  display: inline-flex;
  align-items: flex-start;
  clear: both; /* Add this to clear the float for the next element */
  line-height: 1.4; /* Adjust as needed for spacing between lines */
  margin: 0; /* Remove any default margins */
  padding: 0 2px; /* Add a little padding to the left and right of the text */
}

.highlighted-first {
  border-radius: 10px 10px 0 0;
  width: max-content;
}

.highlighted-second {
  border-radius: 0 10px 10px;
}

.splide.is-initialized:not(.is-active) .splide__list {
  display: flex;
}

.hero-curve{
  clip-path: ellipse(85% 100% at 50% 0%);
}

.boxshadow {
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 25%);
}

.boxshadow-two {
  box-shadow: 0 6px 0 0 rgb(0 0 0 / 25%);
}

.boxshadow-three {
  box-shadow: 0 8px 0 0 rgb(0 0 0 / 25%);
}

.display-md {
  display: none;
}

.bestseller-glide .glide__slide {
  margin: 0;
}

.bestseller-glide .glide__arrow {
  color: black;
  background-color: #ffed56;
  border: 2px solid black;
}

.glide__arrow {
  top: 65%;
  z-index: 2;
  color: white;
  padding: 0;
  background-color: black;
  border: none;
  border-radius: 100%;
  box-shadow: none;
  text-shadow: none;
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  line-height: 0px;
}

.splide__list {
  height: unset;
}

#thumbnail-slider {
  visibility: visible;
}

.woocommerce .woocommerce-breadcrumb a {
  color: #fff;
}

.featured-donuts .splide__arrow svg {
  width: 34px;
  height: 61.5px;
}

.featured-donuts .splide__track--nav>.splide__list>.splide__slide.is-active {
  border: 3px solid #ffed56!important;
}

.featured-donuts .splide__track--nav>.splide__list>.splide__slide:not(.is-active) {
  border: 3px solid #000!important;
}

.featured-donuts .splide__list {
  height: unset;
}

@media (width >= 1300px) {
  .featured-donuts .donut-indicator {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}

.splide__track--nav>.splide__list>.splide__slide.is-active {
  border: unset;
}

.section-divider-shape {
  fill: #fff;
}

.section-divider-border {
  stroke: rgb(255 255 255 / 64%);
  stroke-width: 5px;
}

.btn-icon-yellow:hover .yellow-donut path {
  fill: black;
  stroke: black;
}

.btn-icon-yellow:hover svg {
  fill: black;
  stroke: black;
}

.searchandfilter li[data-sf-field-input-type="checkbox"] label, .searchandfilter li[data-sf-field-input-type="radio"] label, .searchandfilter li[data-sf-field-input-type="range-checkbox"] label, .searchandfilter li[data-sf-field-input-type="range-radio"] label {
  padding-left: 0;
}

.searchandfilter .sf-field-taxonomy-product_cat ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.searchandfilter .sf-field-taxonomy-product_cat .sf-level-0 {
  background-color: #fff;
  display: flex;
  width: initial;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 131.19px;
  border: 3px solid black;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 420;
  line-height: 26px;
}

.searchandfilter .sf-field-taxonomy-product_cat .sf-level-0:hover {
  background-color: #FFED56
}

.searchandfilter .sf-field-taxonomy-product_cat .sf-option-active {
  background-color: #FFED56
}

.searchandfilter .sf-input-checkbox, .searchandfilter [type='radio'] {
  display: none;
}

/* Instagram Slider */
.swiper-container {
  width: 1571px;
  margin: auto;
  overflow: unset;
}

.instagram-gallery-square .instagram-gallery-item__media-wrap {
  border-radius: 10px;
  border: 4px solid #000;
}

.instagram-gallery-list[data-feed_layout="carousel"] {
  height: auto;
}

.instagram-posts .swiper-pagination, .instagram-gallery__actions, .instagram-gallery__button.instagram-gallery__button--follow {
  display: none;
}

.instagram-posts .swiper-button-next {
  background: black;
  border-radius: 100%;
  width: 47.5px;
  height: 47.5px;
}

.instagram-posts .swiper-button-prev {
  display: none;
}

.instagram-posts .swiper-button-next:hover{
   opacity: .5;
}

.instagram-posts .swiper-button-next::after, .instagram-posts .swiper-button-prev::after {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.93124 15.6548C5.66723 15.9188 5.23918 15.9188 4.97516 15.6548L4.0283 14.7079C3.76449 14.4441 3.76426 14.0165 4.02778 13.7524L9.73028 8.03741L4.02778 2.32245C3.76426 2.05836 3.76449 1.63071 4.0283 1.3669L4.97517 0.420034C5.23918 0.156022 5.66723 0.156022 5.93124 0.420034L13.5486 8.03741L5.93124 15.6548Z' fill='white'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

/* WOO COMMERCE OVERRIDES */
.remove {
  border-radius: 74px;
  border: 2px solid #000;
  background: #C70000;
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 25%);
  width: 29.699px;
  height: 29.699px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.remove:hover {
  border: 2px solid #C70000;
  background: #000;
  color: #C70000;
}

.woocommerce-checkout .disable-fixed,
.woocommerce-cart .disable-fixed {
  position: relative!important;
}

#billing_country_field {
  display: none;
}

.woocommerce-MyAccount-navigation-link.is-active a {
  color: #ffed56!important;
  opacity: 1;
}

.woocommerce-notices-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.woocommerce .products ul, .woocommerce ul.products {
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 1.25rem;
}

.woocommerce ul.products li.product .button {
  margin: 0;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8.25rem;
  border: 2px solid #000;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 420;
  background: white;
}

.related-shadow {
  box-shadow: 0 6.6914px 0 0 rgb(0 0 0 / 25%);
}

.woocommerce ul.products li.product .button:hover {
  background: #ffed56;
}

/*
.woocommerce-billing-fields #billing_state_field {
  display: none!important;
}
*/
.merch-product .quantity {
  display: none !important;
}

#main-slider {
  position: relative;
}

.zoom-pane {
  position: absolute;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  pointer-events: none;
  border: 2px solid #ccc;
  display: none;
}

.woocommerce div.product p.stock, .woocommerce div.product span.stock {
  display: none !important;
}

.splide__arrow {
  height: 2.9936rem;
  width: 2.9936rem;
  opacity: 1;
  background: black;
  border: none;     /* remove default borders */
}

.splide__arrow:hover {
  opacity: .5;
}

.splide__arrow svg {
  fill: white;
  height: 1.2em;
  width: 1.2em;
}

.shadow-hover {
  text-shadow:
  -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

.light-black-gradient {
  background: linear-gradient(0deg, rgb(0 0 0) 30.98%, rgb(0 0 0 / 32%) 57.51%);
}

#productContentOne .amount {
  color: white;
}

#productContentOne .woocommerce-Price-currencySymbol {
  color: white;
}

#productContentTwo bdi {
  font-weight: 420;
}

.woocommerce ul.products li.product .price {
  color: black;
  display: block;
  font-weight: 420;
  margin-bottom: 0;
  font-size: inherit;
}

/* Hide Splide controls on devices larger than 1084px */
@media (width >= 1025px) {
  .service-splide .splide__arrows {
      display: none !important;
  }
}

/* Large device styles */
@media screen and (width >= 1084px) {
  #thumbnail-slider {
    padding-top: 1.5rem;
  }


  /* Remove the gap on the left and right */
  .woocommerce ul.products::before, .woocommerce ul.products::after {
      content: none;
  }

  .woocommerce div.product div.images .main-slide-img {
    height: 520px;
    object-fit: cover;
    border-radius: 19.225px;
  }

  .main-thumb .woocommerce-product-gallery__image img {
    height: 198.401px!important;
    border-radius: 12.304px;
    border: 1.538px solid #000;
    object-fit: cover;
    max-width: 13.8rem;
  }
}

@media (width <= 1250px) {
  .hidden-lg {
    display: none;
  }
}

@media (width <= 1200px) {
  .hidden-lg {
    display: none;
  }
}


@media screen and (width >= ¸) and (width <= 1280px) {
  .woocommerce ul.products {
    gap: 1rem;
  }

  .display-md {
    display: block !important;
  }
}

@media (width => 1084px) {
  .mobile-logo {
    display: none;
  }

  .desktop-logo {
    display: block;
  }

  .highlighted-first {
    border-radius: 10px 10px 0 0;
    width: max-content;
  }

  .highlighted-second {
    border-radius: 0 10px 10px;
  }
}

@media (width <= 1084px) {
  .desktop-logo {
    display: none;
  }

  .mobile-logo {
    display: block;
  }

  .featured-donuts .splide__arrow--prev svg {
    transform: unset;
  }

  .featured-donuts .splide__arrow {
    top: 45%;
  }

  .related-post-img {
    height: 157px;
    max-height: 157px;
    min-height: 157px;
  }
}


/* Initial State of the Button */
.bestseller-splide .item .button {
  opacity: 0;
  transform: translateY(20px); /* Start 20px below its final position */
  transition: transform 0.3s ease-out, opacity 0.3s ease-out; /* Smooth transition for both properties */
  will-change: transform, opacity; /* Optimizes rendering */
}

/* Hover State of the Item */
.bestseller-splide .item:hover .button {
  opacity: 1;
  transform: translateY(0); /* Move to final position */
}
