@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';;
@import '@splidejs/splide/dist/css/splide.min.css';

html {
  margin: auto;
  max-width: 1730px;
}

body {
  font-family: edmondsans, sans-serif;
}

@media (width >= 1300px) {
  .post-menu {
    position: relative;
    left: -1rem;
  }
}
@media (width <= 1084px) {
  .mob-no-b-border {
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
  }
}

/*
@media (width >= 1300px) {
  .space-top-sub {
    margin-top: 14.5rem;
  }

  .space-top {
    margin-top: 12.9rem;
  }
}

@media (width <= 1300px) {
  .space-top {
    margin-top: 14.5rem;
  }
}
@media (width <= 1250px) {
  .space-top {
    margin-top: 7rem;
  }

}

@media (max-width <= 1084px) {
  .space-top {
    margin-top: 10rem;
  }
}
*/

@media (width <= 1250px) {
  #donut-thumb-slider-list {
    gap: 1rem;
  }
}

.w-full  > .breadcrumb-nav {
  display: flex;
}

.leading-none {
  line-height: 1;
}

.border-1 {
  border: 1px solid #000;
}

.w-99 {
  width: 99%;
}

.mt-64 {
  margin-top: 64rem;
}

[x-cloak] {
  display: none;
}

.r-7 {
  right: 1.75rem;
}

.t-0-3 {
  top: 0.3rem;
}

.-t-0-1 {
  top: -.1rem;
}

.-t-0-3 {
  top: -.3rem;
}

.light-grey {
  color: rgb(0 0 0 / 40%);
}

/* TYPOGRAPHY */
b {
  @apply font-bold;
}

.e-content h1, h1.wp-block-heading {
  @apply text-xl-font font-edmondsans font-regular leading-[3.5rem];
}

.e-content h2 {
  @apply text-xl-font font-edmondsans font-regular leading-[3.5rem];
}

h2.wp-block-heading {
  @apply text-xl-font font-edmondsans font-regular leading-[3.5rem];

  padding-bottom: 1rem;
}

.e-content h3, h3.wp-block-heading {
  @apply text-xl-font font-edmondsans font-regular leading-[3.5rem];
}

.e-content h4, h4.wp-block-heading {
  @apply text-md-font font-edmondsans font-reg420 leading-[3.5rem];
}

a:hover h4 {
  transition: all 0.1s linear;
}

button {
  transition: all 0.3s linear;
}

.e-content h5, h5.wp-block-heading {
  @apply text-font-28 font-edmondsans font-reg420 leading-[3.5rem];
}

.e-content h6, h6.wp-block-heading {
  @apply text-sm-md-font font-edmondsans font-reg420 leading-[3.5rem];
}

.e-content p, .gutenburg p {
  @apply font-laca text-sm-font font-light leading-[1.3rem];
}

.basket-detail {
  position: relative;
  right: 0;
  margin-top: -10px;
  margin-left: -10px;
}

.reading-time::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 16 16'%3E%3Cpath fill='black' fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 0.5em;
  position: relative;
}

[type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
  background-color: #fff;
  border-radius: 12.5rem;
  border: var(--Item-counter, 1px) solid var(--yellow-disabled, #D8D7CE);

  --tw-shadow: 0 0 rgb(0 0 0 / 0%);
}

input {
  @apply bg-white text-black-primary font-laca text-mob-xs-font font-light;
}

.margin-top-18 {
  margin-top: 18rem;
}

.z-1000 {
  z-index: 1000;
}

@media (width >= 576px) {
  .text-blur {
    border-radius: 160px;
    opacity: 1;
    background: var(--black-key, #000);
    filter: blur(32px);
    width: 661px;
    height: 137px;
    position: relative;
  }
}

/* Spacing */
.btn-width {
  max-width: inherit;
}

.pb-5-5rem {
  padding-bottom: 5.5rem;
}

/* Buttons */
.btn {
  @apply inline-flex justify-center items-center whitespace-nowrap transition ease-in-out duration-150 hover:cursor-pointer hover:no-underline;
}

.btn-menu {
  @apply btn w-full max-w-max-242 text-white bg-black-full border-radius-large btn-p-lg font-reg420 text-sm-md-font hover:bg-yellow-primary right-0 hover:text-black-full hover:no-underline;
}

@media (width >= 1085px) and (width <= 1180px) {
  .btn-menu {
    font-size: 18px;
    padding: unset;
    height: 56px;
    width: 180px;
  }
}

.btn-menu::before {
  content: url('https://rollingdonut.matrix-test.com/content/uploads/2024/03/top-donut.png');
  display: inline-block;
  width: 32px;
  height: 32px;
  position: relative;
  right: 0.4rem;
  transition: all 0.3s ease;
}

.btn-menu:hover::before {
  content: url('https://rollingdonut.matrix-test.com/content/uploads/2024/03/yellowdonut.png');
  display: inline-block;
  width: 32px;
  height: 32px;
  position: relative;
  right: 0.4rem;
}


.hoverno-underline {
  text-decoration: none!important;
}

.btn-p-lg {
  padding: 16px 56px;
}

.rd-border {
  border: 3px solid black;
}

.border-1-fix {
  border: 1px solid #000;
}

.border-radius-large {
  border-radius: 8.25rem;
}

.btn .donut-icon {
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  background-image: url('../images/icons/top-donut.png');
}

.btn:hover .donut-icon {
  background-image: url('../images/icons/btn2.png');
}

.place-nav-icon {
  left: -0.5rem;
  top: 0.2rem;
}

.nav-line {
  width: 1px;
  height: 48px;
  background-color: black;
  margin-top: -5px;
  right: 0.4rem;
  position: relative;
}

.logo {
  width: 152px;
  object-fit: contain;
}

@media(width <= 1250px) {
  .logo {
  width: 115px;
  }
}

.mobile-logo {
  width: 86px;
  height: 80px;
  display: none;
}

nav .active {
  text-decoration: underline;
}

nav .submenu .current_page_item {
  background-color: #000;
  color: white;
}

.highlighted {
  display: inline-flex;
  align-items: flex-start;
  clear: both; /* Add this to clear the float for the next element */
  line-height: 1.4; /* Adjust as needed for spacing between lines */
  margin: 0; /* Remove any default margins */
  padding: 0 2px; /* Add a little padding to the left and right of the text */
}

.highlighted-first {
  border-radius: 10px 10px 0 0;
  width: max-content;
}

.highlighted-second {
  border-radius: 0 10px 10px;
}

.splide.is-initialized:not(.is-active) .splide__list {
  display: flex;
}

.hero-curve{
  clip-path: ellipse(85% 100% at 50% 0%);

}

@media (width <= 1084px) {
  .hero-curve {
    clip-path: ellipse(120% 100% at 50% 0%);
  }
}

@media (width <= 768px) {
  .hero-curve {
    clip-path: ellipse(150% 100% at 50% 0%);
  }
}

@media (width <= 575px) {
  .hero-curve {
    clip-path: ellipse(180% 100% at 50% 0%);
  }
}


.boxshadow {
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 25%);
}

.boxshadow-two {
  box-shadow: 0 6px 0 0 rgb(0 0 0 / 25%);
}

.boxshadow-three {
  box-shadow: 0 8px 0 0 rgb(0 0 0 / 25%);
}

@media (width >= 1084px) {
  .boxshadow-four {
    box-shadow: 0 8px 0 0 rgb(0 0 0 / 25%);
  }
}

.close-shadow {
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 25%);
}


.display-md {
  display: none;
}

.bestseller-glide .glide__slide {
  margin: 0;
}

.bestseller-glide .glide__arrow {
  color: black;
  background-color: #ffed56;
  border: 2px solid black;
}

.glide__arrow {
  top: 65%;
  z-index: 2;
  color: white;
  padding: 0;
  background-color: black;
  border: none;
  border-radius: 100%;
  box-shadow: none;
  text-shadow: none;
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  line-height: 0px;
}

.splide__list {
  height: unset;
}

#thumbnail-slider {
  visibility: visible;
}

.woocommerce-error a {
  color: #ffed56;
  font-weight: 420;
  margin-left: .5rem;
}

.woocommerce-error a:hover {
  text-decoration: underline;
}

.woocommerce .woocommerce-breadcrumb a {
  color: #fff;
}

.woo-notice-shadow {
  box-shadow: 0 8px 0 0 rgb(0 0 0 / 20%);
}

.rd-notice {
  z-index: 1000;
}

.featured-donuts .splide__arrow svg {
  width: 34px;
  height: 61.5px;
}

.featured-donuts .splide__track--nav>.splide__list>.splide__slide.is-active {
  border: 3px solid #ffed56!important;
}

.featured-donuts .splide__track--nav>.splide__list>.splide__slide:not(.is-active) {
  border: 3px solid #000!important;
}

.featured-donuts .splide__arrow:hover .trans {
  fill: transparent;
}

.woocommerce-product-gallery--with-images .splide__arrow {
  background: #FFED56;
  border: 2px solid black;
}

.woocommerce-product-gallery--with-images  .splide__arrow svg {
  fill: black;
}

.woocommerce-product-gallery--with-images .splide__arrow--prev {
  left: 1.6rem;
}

#main-thumb.is-active {
  display: flex;
  justify-content: center;
}

#thumbnail-slider-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#thumbnail-slider-list .splide__slide {
  width: 32%!important;
}

.woocommerce-product-gallery--with-images .splide__arrow--next {
  right: 1.6rem;
}

.featured-donuts .splide__list {
  height: unset;
}

@media (width >= 1300px) {
  .featured-donuts .donut-indicator {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}

@media (width <= 1084px) {
  .bestsellers-slider .splide__arrow {
    background: #ffed56;
    width: 48.389px;
    height: 48px;
  }

  .bestsellers-slider .splide__arrow:disabled {
    opacity: 1;
    background: #9D9D9D!important;
}

  .bestsellers-slider .splide__arrow svg {
    fill: black;
  }
}

.splide__track--nav>.splide__list>.splide__slide.is-active {
  border: unset;
}

.section-divider-shape {
  fill: #fff;
}

.section-divider-border {
  stroke: rgb(255 255 255 / 64%);
  stroke-width: 5px;
}

.btn-icon-yellow:hover .yellow-donut path {
  fill: black;
  stroke: black;
}

.btn-icon-yellow:hover svg {
  fill: black;
  stroke: black;
}

.searchandfilter li[data-sf-field-input-type="checkbox"] label, .searchandfilter li[data-sf-field-input-type="radio"] label, .searchandfilter li[data-sf-field-input-type="range-checkbox"] label, .searchandfilter li[data-sf-field-input-type="range-radio"] label {
  padding-left: 0;
}

.searchandfilter .sf-field-taxonomy-product_cat ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.searchandfilter .sf-field-taxonomy-product_cat .sf-level-0 {
  background-color: #fff;
  display: flex;
  width: initial;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 131.19px;
  border: 3px solid black;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 420;
  line-height: 26px;
}

.searchandfilter .sf-field-taxonomy-product_cat .sf-level-0:hover {
  background-color: #FFED56
}

.searchandfilter .sf-field-taxonomy-product_cat .sf-option-active {
  background-color: #FFED56
}

.searchandfilter .sf-input-checkbox, .searchandfilter [type='radio'] {
  display: none;
}

/* Instagram Slider */
.swiper-container {
  width: 1571px;
  margin: auto;
  overflow: unset;
}

.instagram-gallery-square .instagram-gallery-item__media-wrap {
  border-radius: 10px;
  border: 4px solid #000;
}

.instagram-gallery-list[data-feed_layout="carousel"] {
  height: auto;
}

.instagram-posts .swiper-pagination, .instagram-gallery__actions, .instagram-gallery__button.instagram-gallery__button--follow {
  display: none;
}

.instagram-posts .swiper-button-next {
  background: black;
  border-radius: 100%;
  width: 47.5px;
  height: 47.5px;
}

.instagram-gallery-item__icon--views {
  display: none;
}

@media (width <= 768px) {
  .instagram-posts .swiper-button-next {
    background: #ffed56;
    border: 2px solid black;
  }

  .instagram-posts .swiper-button-next::after {
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: -0.125em;
    background-image: none !important;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M10.707 17.707L16.414 12l-5.707-5.707l-1.414 1.414L13.586 12l-4.293 4.293z'/%3E%3C/svg%3E") !important;
  }
}

.instagram-posts .swiper-button-prev {
  display: none;
}

.instagram-posts .swiper-button-next:hover{
   opacity: .5;
}


.instagram-gallery-item:hover .instagram-gallery-item__media-mask {
  opacity: .3;
}

/* WOO COMMERCE OVERRIDES */
.remove {
  border-radius: 74px;
  border: 2px solid #000;
  background: #C70000;
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 25%);
  width: 29.699px;
  height: 29.699px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: bold;
  position: relative;
  padding-top: 1.1px;
  padding-left: 1.1px;
  cursor: pointer;
}

.remove:hover {
  border: 2px solid #C70000;
  background: #000;
  color: #C70000;
}

.woocommerce-checkout .disable-fixed,
.woocommerce-cart .disable-fixed {
  position: relative!important;
}

#billing_country_field {
  display: none;
}

#shipping_country_field {
  display: none;
}

.woocommerce-MyAccount-navigation-link.is-active a {
  color: #ffed56!important;
  opacity: 1;
}

.woocommerce-notices-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.woocommerce .products ul, .woocommerce ul.products {
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 1.25rem;
}

@media(width <= 550px) {
  .woocommerce .products ul {
    gap: 1rem
  }
}

@media (width <= 450px) {
   .woocommerce ul.products  {
    margin-top: 4rem;
  }
}

.woocommerce ul.products li.product .button {
  margin: 0;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8.25rem;
  border: 2px solid #000;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 420;
  background: white;
}

@media (width <= 610px) {
  .woocommerce ul.products li.product .button {
    font-size: 14px;
  }
}

.related-shadow {
  box-shadow: 0 6.6914px 0 0 rgb(0 0 0 / 25%);
}

.woocommerce ul.products li.product .button:hover {
  background: #ffed56;
}

#billing_state_field .woocommerce-input-wrapper {
  height: 3.5rem;
}

#shipping_state_field .woocommerce-input-wrapper {
  height: 3.5rem;
}

#billing_state_field .select2-selection--single {
    height: 3.5rem;
    border: none;
    border-radius: 200px;
    background: transparent;
}

#shipping_state_field .select2-selection--single {
  height: 3.5rem;
  border: none;
  border-radius: 200px;
  background: transparent;
}

#billing_state_field .woocommerce-input-wrapper::before {
  position: absolute;
  margin: auto;
  z-index: 100;
  height: 19.5px;
  width: 19.5px;
  left: 1rem;
  content: url("https://api.iconify.design/ph/map-pin.svg?width=22&height=22");
}

#shipping_state_field .woocommerce-input-wrapper::before {
  position: absolute;
  margin: auto;
  z-index: 100;
  height: 19.5px;
  width: 19.5px;
  left: 1rem;
  content: url("https://api.iconify.design/ph/map-pin.svg?width=22&height=22");
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: var(--black-primary, #291F19);
  font-size: 14px;
  font-style: normal;
  font-weight: 350;
  line-height: 130%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 2.75rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

/* Chevron down icon */
.select2-container--default .select2-selection--single .select2-selection__arrow::after {
  font-weight: 900;
  content: "\f078";
  font-size: 12px;
  color: #888;
  position: absolute;
  top: calc(50% - 6px);
  right: 10px;
}

/* Chevron up icon */
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow::after {
  content: '\f077';
}

.select2-container--default .select2-results>.select2-results__options {
  max-height: 350px;
  overflow-y: auto;
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 25%);
}

.merch-product .quantity {
  display: none !important;
}

#main-slider {
  position: relative;
}

.zoom-pane {
  position: absolute;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  pointer-events: none;
  border: 2px solid #ccc;
  display: none;
}

.woocommerce div.product p.stock, .woocommerce div.product span.stock {
  display: none !important;
}

.splide__arrow {
  height: 2.9936rem;
  width: 2.9936rem;
  opacity: 1;
  background: black;
  border: none;     /* remove default borders */
}

.splide__arrow:hover {
  opacity: .5;
}

.splide__arrow svg {
  fill: white;
  height: 1.2em;
  width: 1.2em;
}

.leaflet-tile-container {
  filter: saturate(0.7);
}

@media (width>= 575px) {
  .text-container::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 5;
    background: black;
    filter: blur(32px);
    opacity: 1;
  }
}

.shadow-hover {
  text-shadow:
  -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

.light-black-gradient {
  background: linear-gradient(0deg, rgb(0 0 0) 30.98%, rgb(0 0 0 / 32%) 57.51%);
}

#productContentOne .amount {
  color: white;
  font-size: 24px;
}

#productContentOne .woocommerce-Price-currencySymbol {
  color: white;
  font-size: 24px;
}

#productContentTwo {
  transition: all 0.4s ease;
}

@media (width >= 1200px) {
  #productContentTwo {
    height: 150px;
  }
}

@media (width >= 1550px) {
  #productContentTwo {
    height: 100px;
  }
}


#productContentTwo bdi {
  font-weight: 420;
}

.woocommerce ul.products li.product .price {
  color: black;
  display: block;
  font-weight: 420;
  margin-bottom: 0;
  font-size: inherit;
}

/* Hide Splide controls on devices larger than 1084px */
@media (width >= 1085px) {
  .service-splide .splide__arrows {
      display: none !important;
  }
}

/* Large device styles */
@media screen and (width >= 1084px) {
  #thumbnail-slider {
    padding-top: 2rem;
  }


  /* Remove the gap on the left and right */
  .woocommerce ul.products::before, .woocommerce ul.products::after {
      content: none;
  }

  .woocommerce div.product div.images .main-slide-img {
    height: 520px;
    object-fit: cover;
    border-radius: 19.225px;
  }

  .main-thumb  .splide__track--nav>.splide__list>.splide__slide {
    border: 2px solid #000!important;
  }

  .main-thumb .woocommerce-product-gallery__image img {
    height: 198.401px!important;
    border-radius: 12.304px;
    border: 2px solid #000;
    object-fit: cover;
  }
}

@media (width <= 1250px) {
  .hidden-lg {
    display: none;
  }
}

@media (width <= 1200px) {
  .hidden-lg {
    display: none;
  }
}
@media screen and (width >= 1024px) and (width <= 1280px) {
  .woocommerce ul.products {
    gap: 1rem;
  }

  .display-md {
    display: block !important;
  }
}


@media (width => 1084px) {
  .mobile-logo {
    display: none;
  }

  .desktop-logo {
    display: block;
  }

  .highlighted-first {
    border-radius: 10px 10px 0 0;
    width: max-content;
  }

  .highlighted-second {
    border-radius: 0 10px 10px;
  }

}

.featured-donuts .splide__pagination {
  display: none;
}

@media (width <= 1084px) {
  .desktop-logo {
    display: none;
  }

  .mobile-logo {
    display: block;
  }

  .featured-donuts .splide__arrow--prev svg {
    transform: unset;
  }

  .featured-donuts .splide__arrow {
    top: 45%;
  }

  .featured-donuts .splide__arrows {
    display: none;
  }

  .related-post-img {
    height: 157px;
    max-height: 157px;
    min-height: 157px;
  }

  .featured-donuts .splide__pagination {
    display: flex;
    gap: 0.2rem;
  }

  .splide__pagination__page.is-active {
    border: 1px solid #000;
  }

  .splide__pagination__page {
    background: black;
    transform: scale(1.4);
    z-index: 1;
    border: 1px solid #ffed56;
    height: 10px;
    width: 10px;
  }
}


/* Initial State of the Button */
.bestseller-splide .item .button {
  opacity: 0;
  transform: translateY(20px); /* Start 20px below its final position */
  transition: transform 0.3s ease-out, opacity 0.3s ease-out; /* Smooth transition for both properties */
  will-change: transform, opacity; /* Optimizes rendering */
}

/* Hover State of the Item */
.bestseller-splide .item:hover .button {
  opacity: 1;
  transform: translateY(0); /* Move to final position */
}

.pagination {
  gap: .5rem;
}

.pagination .page-item {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 12px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 2px solid var(--black-key, #000);
  background: #FFF;
}

.pagination .page-item a {
  color: var(--black-key, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 420;
  line-height: 20px
}

.pagination .page-item:hover {
  cursor: pointer;
  background: var(--yellow-primary, #FFED56);
}

.pagination .page-item.current-item {
  background: var(--yellow-primary, #FFED56);
  font-weight: 420;
}

.pagination .page-item.next-page-item, .pagination .page-item.prev-page-item {
  display: flex;
  flex-direction:  row;
  width: auto;
  border: none;
  background: transparent;
}

@media (width <= 768px) {
  .product-small-device {
    border-radius: 8px;
    border: 1.383px solid var(--black-key, #000);
    background: var(--white-key, #FFF);
    box-shadow: 0 5px 0 0 rgb(0 0 0 / 25%);
  }
}

@media (width <= 480px) {
  .product-small-device {
    width: 100%!important;
  }
}

@media (width >= 1250px) {
  .location-content p {
    font-size: 32px;
    line-height: 130%;
    font-weight: 350;
  }
}

.top-150 {
  top: 150%;
}

.entry-summary p {
  padding-bottom: .5rem;
}

.active-tab {
  width: 100%;
  display: block;
}

.active-tab::after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 4px solid #ffed56;
  top: .2rem;
  position: relative;
}

.inactive-tab {
  width: 100%;
  display: block;
}

.inactive-tab::after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 4px solid #484848;
  top: .2rem;
  position: relative;
}

.sitemap-menu {
  list-style: inherit!important;
  left: 4rem;
}

.sitemap-sub-menu-item  {
  list-style: disc!important;
  left: 1rem;
  position: relative;
}

.-z-1 {
  z-index: -1;
}

.woocommerce {
  width: 100%;
}

.woocommerce-privacy-policy-text, .woocommerce-info {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 350;
  line-height: 130%;
}

.cart-empty.woocommerce-info {
    display: flex;
    justify-content: center;
}

.return-to-shop {
    display: flex;
    justify-content: center;
}

/* Repeat and adjust for different fields */
.woocommerce-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 200px;
  border: var(--Item-counter, 1px) solid var(--yellow-disabled, #D8D7CE);
}

.woocommerce .woocommerce-input-wrapper::before {
  position: absolute;
  margin: auto;
  z-index: 100;
  height: 19.5px;
  width: 19.5px;
  left: 1rem;
}

.woocommerce .icon-first-name .woocommerce-input-wrapper::before {
  content: url('https://api.iconify.design/ph/user-light.svg?width=22&height=22');
}

.woocommerce .icon-last-name .woocommerce-input-wrapper::before {
  content: url('https://api.iconify.design/ph/user-light.svg?width=22&height=22');
}

.woocommerce .icon-company .woocommerce-input-wrapper::before {
  content: url('https://api.iconify.design/carbon/location-company.svg?width=22&height=22');
}

.woocommerce .icon-address-1 .woocommerce-input-wrapper::before {
  content: url('https://api.iconify.design/octicon/home-24.svg?width=22&height=22');
}

.woocommerce .icon-address-2 .woocommerce-input-wrapper::before {
  display: none;
}

.woocommerce .icon-address-2 .input-text, .woocommerce .icon-postcode .input-text {
  padding-left: 1.5rem;
}

.woocommerce .icon-city .woocommerce-input-wrapper::before {
  content: url('https://api.iconify.design/ph/map-pin.svg?width=22&height=22');
}

.woocommerce .icon-phone .woocommerce-input-wrapper::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%2331373d' d='m34.06 26.407l-3.496-3.496a4.942 4.942 0 0 0-8.34 2.528c-5.765-1.078-11.372-6.662-11.721-11.653a4.908 4.908 0 0 0 2.586-1.36a4.943 4.943 0 0 0 0-6.99L9.594 1.94a4.943 4.943 0 0 0-6.99 0C-7.882 12.426 23.574 43.882 34.06 33.396a4.944 4.944 0 0 0 0-6.989'/%3E%3C/svg%3E");
}

.woocommerce .validate-phone .woocommerce-input-wrapper::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%2331373d' d='m34.06 26.407l-3.496-3.496a4.942 4.942 0 0 0-8.34 2.528c-5.765-1.078-11.372-6.662-11.721-11.653a4.908 4.908 0 0 0 2.586-1.36a4.943 4.943 0 0 0 0-6.99L9.594 1.94a4.943 4.943 0 0 0-6.99 0C-7.882 12.426 23.574 43.882 34.06 33.396a4.944 4.944 0 0 0 0-6.989'/%3E%3C/svg%3E");
}

.woocommerce .validate-email .woocommerce-input-wrapper::before {
    content: url("https://api.iconify.design/carbon/email.svg?width=22&height=22");

}

.woocommerce .icon-email .woocommerce-input-wrapper::before {
  position: absolute;
  margin: auto;
  z-index: 100;
  height: 19.5px;
  width: 19.5px;
  left: 1rem;
  content: url('https://api.iconify.design/carbon/email.svg?width=22&height=22');
}

.woocommerce-input-wrapper #billing_email::before {
  position: absolute;
  margin: auto;
  z-index: 100;
  height: 19.5px;
  width: 19.5px;
  left: 1rem;
  content: url('https://api.iconify.design/icon-park-twotone/phone-telephone.svg?width=22&height=22');
}

#order_comments {
  border-radius: 10px;
  border: 0;
  outline: var(--Item-counter, 1px) solid var(--yellow-disabled, #D8D7CE);
  padding-left: 1.5rem;
  font-size: 14px;
  font-style: normal;
  font-weight: 350;
  line-height: 130%;
}

.single-field-wrapper {
  padding-bottom: 1rem!important;
}

.woocommerce-account-fields p label {
 display: flex;
 align-items: center;
}

.woocommerce-account-field {
  margin-top: 1rem;
}

.woocommerce-account-fields label span {
  font-size: 16px;
  font-style: normal;
  font-weight: 410;
  line-height: 20px;
}

.woocommerce-shipping-fields label {
  display: flex;
}

@media (width >= 1300px) {
  .name-field {
    flex-direction: row;
    justify-content: space-between;
  }

  .name-field .single-field-wrapper  {
    max-width: 300px;
  }
}

@media (width >= 1640px) {
  .name-field .single-field-wrapper  {
    max-width: 362px;
  }
}

@media (width <= 1300px) {
  .name-field {
    flex-direction: column;
  }

  .name-field .single-field-wrapper  {
    max-width: 100%;
  }
}

.woocommerce-shipping-fields .single-field-wrapper {
  padding-bottom: 0;
}

.select2-container {
  left: unset!important;
  right:  unset!important;
}

.select2-container--open .select2-dropdown {
  right: 0;
}

@media (width <= 1733px) {
  .select2-container--open .select2-dropdown {
    left: 5.5rem!important;
    right: 0!important;
  }
}

@media (width <= 1680px) {
  .select2-container--open .select2-dropdown {
    left: 3.5rem!important;
    right: 0!important;
  }
}


@media (width <= 1560px) {
  .select2-container--open .select2-dropdown {
    left: 1rem!important;
    right: 0!important;
  }
}

@media (width >= 1733px) {
  .select2-container--open .select2-dropdown {
    left: 6rem!important;
    right: 0!important;
  }
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
  background-color: #ffed56;
  color: #000;
  border-bottom: 1px solid #000;
}

.select2-results__option[aria-selected], .select2-results__option[data-selected] {
  cursor: pointer;
  border-bottom: 1px solid black;
}

.swiper-container.swiper-container-initialized.swiper-container-horizontal {
  width: 100%;
}

.instagram-gallery-feed {
  overflow: hidden;
}



/* Hide the default scrollbar and style it */
@media (width <= 48em) {
  ::-webkit-scrollbar {
    width: 0!important;
    height: 0!important;
}
}

/* ANIMATIONS */
.featured-image.animate-up, .featured-image.animate-down {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.featured-image.animate-up {
  transform: translateY(-50%); /* Adjust translation as needed */
  opacity: 0;
}

.featured-image.animate-down {
  transform: translateY(50%); /* Adjust translation as needed */
  opacity: 0;
}

@keyframes roll-down {
  0% {
      transform: translateY(-100%);
      opacity: 0;
  }

  50% {
      opacity: 0.5;
  }

  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.roll-down-animation {
  animation: roll-down 0.2s ease forwards;
}


.woocommerce-cart .product-quantity .quantity label {
    display: none !important;
}

.input-text.qty.text.hasQtyButtons {
  border-radius: 72px;
  border: 1px solid var(--black-full, #000);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 420;
  width: 100%;
}

.woosb-quantity {
  width: 200px;
}

.quantity {
  text-align: center;
  display: flex;
  justify-content: center;
}

.quantity_input {
  width: 167px;
  height: 44px;
}

.product-remove .screen-reader-text {
  visibility: hidden;
}

.product-thumbnai .screen-reader-text {
  visibility: hidden;
}


.decrement-btn {
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 25%);
  height: 29px;
  width: 29px;
  border-radius: 4px;
}

.increment-btn {
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 25%);
  height: 29px;
  width: 29px;
  border-radius: 4px;
}

.woocommerce-cart .instagram-posts {
  display: none;
}

.woocommerce-checkout .instagram-posts {
  display: none;
}

.drop-shadow_one {
  box-shadow: 0 8px 0 rgb(0 0 0 / 25%);
}

/* OUR STPRY */
@media (width >= 1250px) {
  .our-story .story-arrows {
    top: 50%;
    width: 100%;
  }

  .our-story .centerX {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .our-story .centerY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .our-story .centerXY {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .our-story ul.cards li {
    position: absolute;
    max-width: 680px;
    max-height: 440px;
    z-index: 3;
    opacity: 0;
    transform: translateX(-100%) rotate(3deg) scale(0.98);
    transition: 0.75s all cubic-bezier(1, -0.5, 0.2, 1.4);
  }

  .our-story ul.cards li.clean {
    padding: 0 40px;
  }

  .our-story ul.cards li.current {
    z-index: 2;
    transform: translateX(0) rotate(1deg);
  }

  .our-story ul.cards li.current,
  .our-story ul.cards li.current ~ li {
    opacity: 1;
  }

  .our-story ul.cards li.current + li {
    z-index: 1;
    transform: translateX(0) rotate(13deg);
    margin-top: 3rem;
    left: 2rem;
  }

  .our-story ul.cards li.current + li img {
      border-color: #ffed56;
  }

  .our-story ul.cards li.current + li ~ li {
    z-index: 0;
    transform: translateX(0) rotate(-12deg);
    left: 6rem;
  }

  .our-story ul.cards li.current + li ~ li img {
      border-color: #ffed56;
  }

  .our-story .yellow_donut {
    right: 8%;
    position: absolute;
    z-index: 1000000000;
    top: 15%;
  }

  .our-story .black_donut {
    bottom: 100px;
    position: absolute;
    right: 0;
  }
}

@media (width <= 1250px) {
  .our-story .yellow_donut {
    display: none;
  }

  .our-story .black_donut {
    display: none;
  }
}

@media (width <= 993px) {
   .border-top-eight {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
  }

  .button-dashes {
    position: relative;
  }

  .button-dashes::before,
  .button-dashes::after {
    content: '';
    position: absolute;
    top: 50%;
    height: 4px;
    background-color: white;
    transform: translateY(-50%);
  }

  .button-dashes::before {
    left: -32%;
    width: 4px;
    box-shadow:
      10px 0 0 0 white,
      20px 0 0 0 white,
      30px 0 0 0 white,
      40px 0 0 0 white,
      50px 0 0 0 white,
      60px 0 0 0 white;
  }

  .button-dashes::after {
    right: -32%;
    width: 4px;
    box-shadow:
      -10px 0 0 0 white,
      -20px 0 0 0 white,
      -30px 0 0 0 white,
      -40px 0 0 0 white,
      -50px 0 0 0 white,
      -60px 0 0 0 white;
  }
}

.curve-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: white;
  clip-path: path('M0 0 Q 0 150, 500 150 T 1000 150 V 0 H 0');
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in{
  animation: fade-in 0.9s ease-out forwards;
}

.border-top-40 {
  border-radius: 40px 40px 0 0;
}

.wc-stripe-payment-request-button-separator {
  display: none!important;
}

label[for="payment_method_stripe"] {
    color: var(--black-full, #000);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 410;
    line-height: 1.625rem;
    display: flex;
}

label[for="payment_method_stripe"]::after {
    content: url('/images/checkout/card-icons.png');
    display: inline-block;
    width: 30px;
    height: 20px;
    background-size: cover;
    margin-left: 10px;
    vertical-align: middle;
}

label[for="stripe-card-element"], label[for="stripe-exp-element"], label[for="stripe-cvc-element"] {
  color: var(--black-secondary, #2D2A2A);
  font-size: 14px;
  font-style: normal;
  font-weight: 420;
  line-height: 18px;
}


#stripe-payment-data p {
  display: none
}

#stripe-card-element, #stripe-exp-element, #stripe-cvc-element {
     border-radius: 12.5rem;
    border: var(--Item-counter, 1px) solid var(--yellow-disabled, #D8D7CE);
    background: #FFF;
    color: var(--black-primary, #291F19);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 350;
    line-height: 130%;
    height: 3.5rem;
    padding: 1.25rem;
    margin-bottom: 1rem;
}

.woocommerce-checkout #payment ul.payment_methods li .stripe-credit-card-brand  {
  right: 1.5rem;
}

.dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input {
    padding: 13px 24px 13px 48px;
    font-family: inherit;
    background-color: #fff;
    border: 2px solid black;
    color: var(--grey-subdued, #484848);
    font-size: 24px;
    font-style: normal;
    font-weight: 410;
    line-height: 26px;
    max-width: 1182px;
    height: 80px;
    align-items: center;
    border-radius: 72px;
    width: 100%;
    display: flex;
}

.dgwt-wcas-search-form {
    background: transparent !important;
}

@media (width <= 768px) {
  .dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input {
    background-color: black;
    border: 2px solid white;
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 350;
    line-height: 130%
  }

  .dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp {
    background-color: transparent;
  }

  .dgwt-wcas-style-pirx.dgwt-wcas-has-submit .dgwt-wcas-search-submit svg path {
    fill: #fff;
  }

  .dgwt-wcas-search-wrapp.dgwt-wcas-has-submit.woocommerce.dgwt-wcas-style-pirx.js-dgwt-wcas-layout-classic.dgwt-wcas-layout-classic.js-dgwt-wcas-mobile-overlay-disabled.dgwt-wcas-active .dgwt-wcas-search-submit svg path {
    fill: #fff;
  }

}


.dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp button.dgwt-wcas-search-submit {
    background: transparent;
    border-radius: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    min-height: 33px;
    min-width: 33px;
    left: 23px;
    top: 0;
    pointer-events: none;
    transition: none;
    height: 100%;
    display: inline-flex;
    font-weight: bold;
    width: 32px;
    align-items: center;
    justify-content: center;
}

.dgwt-wcas-search-wrapp {
    max-width: 1182px;
     background: transparent;
}

.dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input:hover {
    background-color: #fff;
}

.dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp button.dgwt-wcas-search-submit svg {
    width: 28px;
    height: 28px;
}

.dgwt-wcas-ico-magnifier, .dgwt-wcas-ico-magnifier-handler {
    max-width: 24px;
}


.dgwt-wcas-open .dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input {
	border-radius: 72px!important;
}

.dgwt-wcas-has-headings .dgwt-wcas-suggestion {
    border-bottom: 1px solid black;
}


@media (width <= 768px) {
    .search-bar-container {
        background-image: var(--mobile-bg-image);
    }

    .dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp {
    background-color: transparent !important;
  }

    .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input {
       background-color: transparent!important;
        color: white!important;
      border-color: white!important;
    }
}

.login #login .admin-email-confirm-form .admin-email__details {
    font-size: .875rem;
    color: white!important;
}


.z-500 {
    z-index: 500;
}

#testimonial-slider {
  padding-left: 4rem!important;
}

@media (width <= 1084px) {
  #testimonial-slider {
    padding-left: 2rem!important;
  }
}


@media (width <= 768px) {
  #testimonial-slider {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
  }
}

.product-shadow {
  box-shadow: 0 8px 0 0 rgb(0 0 0 / 20%);
}


/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.z-100 {
  z-index: 100;
}

.z-98 {
  z-index: 98;
}

@media (width <= 1085px) {
  .mob-menu-order-btn {
    background: white;
    color: black;
   }

   .mob-menu-order-btn.btn-top::before {
    display: none;
   }
}

.instagram-posts .swiper-button-next::after,
.instagram-posts .swiper-button-prev::after {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2717%27 height=%2717%27 viewBox=%270 0 17 17%27 fill=%27none%27%3E%3Cpath fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M5.93124 15.6548C5.66723 15.9188 5.23918 15.9188 4.97516 15.6548L4.0283 14.7079C3.76449 14.4441 3.76426 14.0165 4.02778 13.7524L9.73028 8.03741L4.02778 2.32245C3.76426 2.05836 3.76449 1.63071 4.0283 1.3669L4.97517 0.420034C5.23918 0.156022 5.66723 0.156022 5.93124 0.420034L13.5486 8.03741L5.93124 15.6548Z%27 fill=%27%23FFFFFF%27/%3E%3C/svg%3E')!important;
    background-size: contain;
    background-repeat: no-repeat;
}

@media (width <= 575px) {
  .bestsellers-slider .splide__arrow--next {
      right: -1rem;
  }

  .bestsellers-slider .splide__arrow--prev {
      left: -1rem;
  }
}

.woocommerce-info {
    border-top-color: #000;
}

@media (width <= 767px) {
    .breadcrumb-ellipsis {
        display: inline-block;
        max-width: 100px; /* Adjust based on your design needs */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.woocommerce-form-login-toggle .woocommerce-info {
    border: none!important;
    background: white!important;
    padding-left: 0!important;
}

.woocommerce-form-login [type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
    border: 1px solid #D8D7CE !important;
}


.woocommerce-checkout .woocommerce form.login {
    border: 2px solid black !important;
    padding: 1.5rem !important;
    margin: 2em 0 !important;
    text-align: left !important;
    border-radius: 20px !important;
}

.woocommerce table.shop_table  {
    border: 0;
    margin: 0;
    border-radius: 0;
     border-collapse: collapse;
}

.woocommerce-orders-table__cell-order-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: white;
}

.wc-item-meta li {
   display: flex;
    flex-direction: row;
    align-items: center;
}

.wc-item-meta li .wc-item-meta-label {
  margin-right: .5rem;
}

.border-top-left-top-right {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

    .woocommerce-noticeslgrapper.fade-out {
        animation: fade-out-down 0.5s forwards;
    }

    @keyframes fade-out-down {
        from {
            opacity: 1;
            transform: translateY(0);
        }

        to {
            opacity: 0;
            transform: translateY(20px);
        }
    }


.woocommerce-error .fade-out {
    animation: fade-out-down 0.5s forwards;
}

@keyframes fade-out-down {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

.pa_fit .attribute-button, .pa_size .attribute-button  {
  border-radius: 72px;
  border: 1px solid var(--yellow-disabled, #D8D7CE);
  background: var(--white, #FFF);
  color: var(--black-full, #000);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 410;
  line-height: 20px;
  height: 58px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-right: 1rem;
}

.pa_fit .attribute-button.selected, .pa_size .attribute-button.selected {
  color: black;
  background: var(--yellow-main, #FFED56);
  border: 2px solid #000;
}

.woocommerce-error {
  height: max-content!important;
}

.attribute-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pa_colour.attribute-container {
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
      display: inline-flex;
    align-items: center;
}

.pa_size.attribute-container {
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
}


.attribute-button.color-swatch {
    display: inline-block;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
    transition: box-shadow 0.3s ease;
}

.attribute-button.color-swatch:hover {
    box-shadow: 0 4px 4px rgb(0 0 0 / 40%);
}

.attribute-button.color-swatch.selected {
  border: 2px solid #FFED56!important;
}


.woocommerce-product-gallery .splide__arrow:hover {
  background: #FFED56;
  color: black;
}


.woocommerce-product-gallery .splide__arrow:hover svg path {
  fill: black;
}

.color-name-display {
  margin-left: 1rem;
}

.single_add_to_cart_button.disabled {
  background: var(--yellow-disabled, #D8D7CE);
  color: var(--black-disabled, #484848);
  cursor: not-allowed;
  border: 2px solid var(--yellow-disabled, #D8D7CE);
}

.single_add_to_cart_button.disabled:hover {
   background: var(--yellow-disabled, #D8D7CE);
  color: var(--black-disabled, #484848);
  cursor: not-allowed;
  border: 2px solid var(--yellow-disabled, #D8D7CE);
  opacity: .8;
}

.woocommerce-remove-coupon {
  color: red;
}

.woosb-products[class*="woosb-products-layout-grid"] .woosb-product {
  border-radius: 8px;
}

.woosb-products .woosb-product .woosb-thumb img {
    border-radius: 8px;
}

.woosb-products.woosb-products-layout-list .woosb-product .woosb-thumb img, .woosb-products[class*=woosb-products-layout-grid] .woosb-product .woosb-thumb img {
    border-radius: 100%;
}


.woosb-products {
    border-width: 1px 0 0 0;
    border-style: dotted;
    border-color: #e5e5e5;
    background: black;
    border-radius: 1.00475rem;
    border: 2.679px solid var(--black-full, #000);
    padding: 1rem;
}
.woosb-products .woosb-product .woosb-title .woosb-title-inner a {
  color: white;
}


.woosb-products .woosb-product .woosb-price .amount {
    display: inline-block;
    color: white;
}


.summary {
    height: 100%;
    overflow: scroll;
    max-height: 757px;
}
